* {
    margin: 0;
    font-family: 'Libre Baskerville', 'Noto Sans KR','Nunito Sans', 'sans-serif';
    box-sizing: border-box;
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}
/* 메인 영역 : MY PAGE */

main>div{
    padding: 0 100px;
    min-width: 1100px;
    max-width: 1300px;
    padding-top: 200px;
    margin: auto;
    text-align: center;
}
main>div>h2{
    text-align: center;
    padding: 20px 0;
}
main>div>p {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 13px;
    color: gray;
}
.menu_box {
    width: 100%;
    height: 170px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
}
.menu_box>div {
    width: 100%;
    text-align: left;
    margin: 20px 0;
    padding: 15px 35px;
}
.menu_box>div>h3{
    width: 100%;
    padding: 0 30px;
    height: 18px;
    line-height: 18px;
    background-image: url("https://image.makeshop.co.kr/makeshop/d3/basic_simple/common/sp_mypage_aside.gif") ;
    background-repeat: no-repeat;
    font-size: 14px;
    margin-bottom: 20px;
}
.menu_box>div:nth-child(1),.menu_box>div:nth-child(2){
    border-right: 1px solid rgba(128, 128, 128, 0.4);
}
.menu_box>div:nth-child(2),.menu_box>div:nth-child(3) {
    padding-bottom: 42px;
}
.menu_box>div:nth-child(n) {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.menu_box>div:nth-child(n) a{
    color: rgba(128, 128, 128, 0.9);
    line-height: 12px;
    font-size: 12px;
}
.menu_box>div:nth-child(n) div {
    width: 1px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.5);
}
.menu_box>div:nth-child(1)>h3{
    background-position: top left;
}
.menu_box>div:nth-child(2)>h3 {
    background-position: center left;
}
.menu_box>div:nth-child(3)>h3 {
    background-position: bottom left;
}

.order_box{
    text-align: left;
    position: relative;
}
.order_box>h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 18px;
}
.order_box>p{
    position: absolute;
    top:16px;
    right: 0;
    font-size: 12px;
}
.order_gridbox{
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 2fr)repeat(1, 8fr)repeat(3, 1.5fr);
    /* grid-template-rows: 2px */
}
.order_gridbox>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.order_gridbox>div:nth-child(-n+6) {
    font-size: 14px;
    font-weight: bold;
}
.order_gridbox>div:nth-child(n+7) {
    font-size: 13px;
    /* font-weight: bold; */
}
.jsSpan {
    color: blue;
    font-size: 13px;
    font-weight: bold;
}
.createButton {
    height: 25px;
    width: 50px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================================== */
.orderSub_box {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    gap: 10px;
    margin-bottom: 50px;
}
.orderSub_box>div:nth-child(2) {
    width: 1px;
    height: 15px;
    background-color: rgba(128, 128, 128, 0.5);
}
.orderSub_box>div>span {
    padding: 0 15px;
}
.orderSub_box>div>span:nth-child(1) {
    font-weight: bold;
}
.orderSub_gridbox {
    display: grid;
    grid-template-columns: repeat(1, 1.5fr) repeat(1, 7fr) repeat(1, 3fr) repeat(1, 2fr) repeat(1, 1.5fr);
}
.orderSub_gridbox>div {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.orderSub_gridbox>div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 6;
    padding-left: 15px;
    background-color: rgba(128, 128, 128, 0.1);
}
.orderSub_gridbox>div:nth-child(n+2) {
    height: 100px;
    justify-content: center;
}