* {
    margin: 0;
    font-family: 'Libre Baskerville', 'Noto Sans KR',
        'Nunito Sans', 'sans-serif';

}

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}

a {
    color: black;
}

/* home > 상품검색 */
pre {
    display: inline-block;
}

/* main : search box */

main {
    min-width: 1100px;
    max-width: 1300px;
    margin: auto;
    padding: 0 100px;
}

.searchInput,
.searchInfo {
    width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    top: 80px;
}

.searchInputTop {
    text-align: right;
    font-size: 14px;
    color: silver;
}

.searchInputTop {
    color: silver;

}

/* 상하 / 좌우 */
.searchInput {
    padding-top: 20px;
    padding-bottom: 80px;
}

.Search {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;

}

.searchBlock0 :nth-child(1) {
    font-size: 14px;
    line-height: 30px;
}

.searchBlock {
    width: 1100px;
    padding: 40px;
    text-align: center;
    border: 1px silver solid;
    line-height: 25px;
}

.searchText::before {
    content: "\f002";
    font: var(--fa-font-solid);
    font-size: 15px;
    margin-right: 3px;
}

.searchInfo :nth-child(1) {
    float: left;
}

.itemSort {
    display: inline-block;
    text-align: right;
    width: 1100px;
    position: relative;
    top: 40px;
}

.itemSort button {
    border: none;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: 2px 7px;
}

.itemSort button:hover {
    background-color: rgba(172, 172, 172, 0.548);
    color: black;
    transition: background 0.8s ease-out;

}

.itemSort span {
    padding-left: 10px;
}

.searchBlock1 {
    justify-content: center;
}

.searchBlock1,
.costSearchBox,
.searchBox {
    display: flex;
    padding: 20px;
    gap: 6px;
    align-items: flex-start;
}

.costSearchBox1,
.costSearchBox2 {
    height: 25px;
}

.searchBox div {
    background-color: black;
    color: white;
    padding: 0 15px;
    border-radius: 4px;
    transition: background 0.8s ease-out;
}

input {
    border: 1px silver solid;
    width: 200px;
    height: 30px;
}

/* 검색 버튼 */
.searchButton {
    cursor: pointer;
    background-color: #112B23;
    color: silver;
    line-height: 30px;
}

.searchButton:hover {
    background-color: silver;
    color: #112B23;
    height: 30px;
}

/* main : item_container */
.item_container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;

    width: 1100px;
    margin: auto;
    margin-top: 50px;
}

.item_container div {
    display: grid;
    text-align: center;
    gap: 10px;
}

.item_container div img {
    width: 100%;
}

.item_container div :nth-child(2) {
    margin-top: 20px;
}

.item_container div :nth-child(3) {
    color: rgb(94, 92, 92);
    font-weight: bold;
}

/* 페이지 네이션 */

.pageButtons {
    position: relative;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 150px;
    padding: 1em 0;
}

.button_list {
    font-size: 30px;
}

.pageButtons {
    display: flex;
    gap: 10px;
}

.button_list {
    color: black;
    font-size: 1em;
    cursor: pointer;
}

.button_list:first-child::before {
    content: '<<';
    margin-right: 10px;
    font-weight: bold;
}

.button_list:last-child::after {
    content: '>>';
    margin-left: 10px;
    font-weight: bold;
}