@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', 'Noto Sans KR', 'Nunito Sans', sans-serif;
}

main>div {
    padding: 0 100px;
    min-width: 1300px;
    max-width: 1500px;
    
    width: 1100px;
    position: relative;
    margin: auto;
    padding-top: 110px;
}

.client_header_5 a,
.client_header_5 {
    float: right;
    position: relative;
    font-size: 12px;
    color: gray;
}

.client_body h3 {
    padding-bottom: 5px;
    padding-top: 30px;
    margin: 0;
    font-size: 18px;
}

.client_search {
    width: 1100px;
}

.client_search fieldset {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid #d8d8d8;
    height: 110px;
}

.client_search fieldset select {
    width: 183px;
    height: 33px;
    font-size: 14px;
    border:  1px solid #d8d8d8;
    color: gray;
    outline: none;
    display: none;
}
.client_search label {
    position: relative;
    left: 110px;
    bottom: 45px;
}


.select_logo {
    background-image: url(https://danielstruth.com/design/dmcosmetic/hologram/pc/logo/f_logo.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;   
}

.client_search fieldset button {
    width: 118px;
    height: 33px;
    background-color: black;
    color: white;
    border: 0;
}
.client_search fieldset button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s;
}

.client_search fieldset input {
    width: 483px;
    height: 33px;
    line-height: 34px;
    font-size: 14px;
    padding-left: 28px;
    border: 1px solid silver;
    outline: none;
}

.faq_category_5 {
    padding-left: 0px;
    display: flex;
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 13px;
}
.faq_category_5 a:nth-child(1) {
    font-weight: bold;
}

.faq_category_5 a {
    padding-right: 20px;
    color: black;
}


.faq_category_5 a:nth-child(n+2) {
    border-left: 1px solid #d8d8d8;
    padding-left: 20px;
}

#client_paging a:nth-child(n+2) {
    font-size: 13px;
    padding: 10px;
    height: 16px;
    color: silver;
    letter-spacing: -4px;
}
#client_paging a {
    font-size: 13px;
    padding: 10px;
    height: 16px;
    color: black;
    letter-spacing: -4px;
}

#client_paging {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    font-size: 12px;
    width: 1100px;
    cursor: pointer;
    
}


td{
    padding: 14px;
}


thead tr th{
    border-top: 1px solid;
    border-bottom: 1px solid rgb(150, 150, 150, 0.3);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    height: 46px;
}

tr td:nth-child(1) {
    width: 75px;
    text-align: center;
}

tr td:nth-child(2) {
    width: 110px;
    text-align: center;
    padding: 0 10px;
}
tr td:nth-child(3) {
    width: 920px;
}

tr:nth-child(n) {
    border-bottom: 1px solid rgb(150, 150, 150, 0.3);
}

tr:nth-child(3n-1), tr:nth-child(3n+3) {
    background-color: #fafafa ;
    text-align: left;
    height: 63px;
}

tr:nth-child(3n-1) {
    border-bottom: 1px dashed silver;
}

tr:nth-child(3n-1) td:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}
tr:nth-child(3n+3) td:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    color: #b17efe;
}

tr:nth-child(3n) td:nth-child(2), tr:nth-child(3n+4) td:nth-child(2) {
    text-align: left;
}

tr:nth-child(3n) td:nth-child(2) {
    color: gray;
}

tr td:nth-child(3n+2) {
    text-align: left;
}

tr:nth-child(3n+1) td:nth-child(2n) {
    text-align: center;
}