*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}
/* =====헤더===== */
main>div:nth-child(1){
    /* background-color: lightcoral; */
    height: 400px;
    min-width: 1700px;
}
.subject {
    text-align: center;
    height: 60%;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    /* src: url(./image/main_logo_black.png); */
}
.subject h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subject p{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}
.top_search{
    display: block;
    text-align: center;
}
.top_search>div{
    display: inline-block;
    position: relative;
    align-items: center;
}
.search_city{
    margin-right: 100px;

}
.selectcity, 
.storename {
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    color: gray;
}
.search_button a{
    display: inline-block;
    width: 250px;
    line-height: 60px;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center ;
    margin-left: 200px;
}

/* =====메인===== */
main{
    /* display: flex; */
    margin: 0 100px;
}
.mainbox {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}
/* =====메인===== */
.store_list{
    /* background-color: lightgreen; */
    min-width: 1100px;
    height: auto;
    
}
.storeee{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: nowrap; */

}
.storeee:nth-child(1){
    border-top: 1px solid gray;
}
.storeee p{
    /* display: inline-block; */
    /* height: 70px; */
    line-height: 70px;
    vertical-align: middle;
    font-size: small;
    vertical-align: middle;
    white-space: nowrap;

} 
.storeee p img{
    padding-left: 5px;
    vertical-align: middle;
}
.dot{
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
    
}
.storeee:hover .dot{
    background-color: gray;

}
.type{
    width: 20%;
    padding-left: 5px;
    
}
.location{
    width: 25%;
    padding-left: 15px;

}
.number{
    width: 15%;
    text-align: center;
}
.time{
    width: 30%;
    text-align: center;

}
.camera{
    background-image: url(./image/camera_icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 30px;
    height: 20px;
}

/* =====오른쪽===== */
#map{
    /* background-color: lightseagreen; */
    width: 500px;
    height: 600px;
    /* margin-left: 50px; */
    position: sticky;
    top: 200px;
}
.mapInnerBox{
    width: 300px;
    height: fit-content;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex; */
}
