* {
    font-family: 'Libre Baskerville', 'Noto Sans KR', 'Nunito Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.mypage_edit_outer {
    width: 950px;
    margin: auto;
}

.mypage_edit_outer>fieldset {
    border: none;
}

/* ======================== */
.mypage_edit_head {
    height: 50px;
    border-bottom: 2px solid;
    margin-top: 150px;
    margin-bottom: 20px;
}

/* ============= body =============== */

.mypage_edit_body {
    font-size: 13px;
    display: grid;
    grid-template-rows: repeat(13, 2fr);
}

.mypage_edit_body>dl {
    display: grid;
    grid-template-columns: 2fr 7fr;
    border: 1px solid rgba(128, 128, 128, 0.300);

}

.mypage_edit_body>dl>dt {
    line-height: 30px;
    background-color: rgba(128, 128, 128, 0.275);
    padding: 10px;
    font-weight: 600;
}

.mypage_edit_body>dl>dt>sup {
    color: orange;
}

.mypage_edit_body>dl>dd {
    line-height: 30px;
    padding: 10px;
}

.edit_body_pw>dd>div {
    font-size: 13px;
}

.edit_body_zipcode>dd>input {
    width: 100px;
    height: 30px;
}

.edit_body_zipcode>dd>a {
    color: black;
    border: 1px solid;
    padding: 5px;
}

.body_address_input {
    width: 450px;
}

.edit_body_email>dd>input {
    height: 30px;
}

.edit_body_email>dd>a {
    border: 1px solid;
    color: black;
    padding: 3px;
}

.edit_body_email>dd>a:hover {
    background-color: black;
    color: aliceblue;
}



.mypage_edit_sns {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
}

.mypage_edit_sns>dl {
    display: flex;
}

.mypage_edit_sns>dl>dd {
    display: flex;
    align-items: center;
}

.mypage_edit_sns>dl>dd>a {
    border: 1px solid;
    padding: 2px;
    color: black;
    border-radius: 10%;
}

.mypage_edit_sns>dl>dt {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.sns_bgimg1 {
    width: 27px;
    height: 27px;
    background-image: url(../image/naver.png);
}

.sns_bgimg2 {
    width: 27px;
    height: 27px;
    background-image: url(../image/kakao.png);
}

.mypage_edit_submit {
    width: 350px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mypage_edit_submit>label>input {
    width: 150px;
    height: 50px;
}

.bt_submit {
    background-color: black;
    color: white;
}

.bt_cancel {
    display: inline-block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
    color: black;
}