* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Libre Baskerville', 'Noto Sans KR', 'Nunito Sans', 'sans-serif';
    font-size: 14px;
    border-collapse: collapse;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}


.mypage_outer_3 {
    max-width: 1300px;
    min-width: 1100px;
    padding: 20px 100px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* padding-left: 100px; */
}


.mypage_top_3>h1 {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}



.mypage_top_3>h1>a {
    font-size: 30px;
    color: black;
}

/* ======================== */




/* =======  INFO =============== */

.mypage_info_outer_3 {
    border: 1px solid rgb(128, 128, 128);
    display: flex;
    justify-content: space-around;
    word-break: keep-all;
    text-transform: uppercase;
    padding: 10px;
}

.mypage_info_outer_3 a {
    color: gray;
    padding-right: 6px;
}

.mypage_shop_info_3 {
    border-right: 1px dashed rgba(128, 128, 128, 0.297);
    padding: 2rem;
    width: 33%;
}

.mypage_shop_3 {
    font-size: 0.8rem;
}

.mypage_shop_info_3>h2 {
    padding-bottom: 1rem;
}



/* ------------------ */

.mypage_QnA_info_3 {
    border-right: 1px dashed rgba(128, 128, 128, 0.353);
    padding: 2rem;
    width: 33%;
}


.mypage_QnA_info_3>h2 {
    padding-bottom: 1rem;
}



.mypage_QnA_3>span>a {
    color: gray;
    padding-right: 5px;
}

/* ------------------ */

.mypage_customer_info_3 {
    padding: 2rem;
    width: 33%;
}

.mypage_customer_3 {
    font-size: 0.8rem;
}

.mypage_customer_info_3>h2 {
    padding-bottom: 1rem;
}

.mypage_customer_3>span>a {
    color: gray;
    padding-right: 5px;
}

/* =========INFO========== */



/* ========== coupon ============ */

/* .coupon_enter_outer {
    border: 1px solid rgba(128, 128, 128, 0.313);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.coupon_enter_inner {
    /* margin: auto; */
    padding: 50px;
    /* width: 70%; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    text-align: center;
}

.coupon_enter_inner>p {
    font-size: 11px;
}

.coupon_enter_inner>form>button {
    background-color: black;
    color: azure;
    border-radius: 30%;
    /* text-align: center; */
}

.coupon_mycoupon_outer {
    /* border: 1px solid; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mycoupon_head {
    display: flex;
}

.mycoupon_head>div {
    text-align: center;
    padding: 10px;
}

.mycoupon_head>div>a {
    font-size: 30px;
    padding: 10px;
    color: gray;
}

.mycoupon_head>div:nth-child(1) {
    flex-grow: 1;
    border: 2px solid;
    border-bottom: none;
}

.mycoupon_head>div:nth-child(2) {
    flex-grow: 1;
    border: 2px solid;
    border-top: none;
    border-left: none;
}

.mycoupon_help {
    display: flex;
    justify-content: space-between;
}

.mycoupon_list {
    border: 1px solid rgba(128, 128, 128, 0.237);
    border-top: 1px solid;
    text-align: center;
    /* padding-bottom:50px; */
    display: flex;
    flex-direction: column;
}

.headC {
    border-top: 2px solid;
    /* padding: 15px; */
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.359); */
    gap: 1px;
}

.cartCount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
}

.headDetail {
    flex-basis: 20%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.359);;

}

.cartDetail {
    flex-basis: 20%;
    padding: 30px;
}

/* .couponInfo {
    flex-basis: 35%;
} */

.downBt:hover {
    background-color: black;
    color: aliceblue;
}