* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Libre Baskerville', 'Noto Sans KR', 'Nunito Sans', 'sans-serif';
    font-size: 14px;
    border-collapse: collapse;
    text-decoration: none;
}

ul {
    padding: 0;
}



.mypage_outer_3 {
    max-width: 1300px;
    min-width: 1100px;
    padding: 0 100px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.mypage_top_3>h1 {
    padding-top: 200px;
    padding-bottom: 50px;
}

.mypage_top_3>h1>a {
    font-size: 30px;
    color: black;
}

/* ======================== */





/* =======  INFO =============== */

.info {
    padding: 50px;
    width: 33%;
}

.info h2 {
    padding-bottom: 15px;
    text-wrap: nowrap;
    word-break: keep-all;
}

.info span a {
    padding-right: 10px;
    color: gray;
}

.mypage_info_outer_3 {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    word-break: keep-all;
    text-transform: uppercase;
}


/* ========================== */



.mypage_board {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .board_myarticle {

} */


.board_nation {
    display: flex;
    gap: 10px;
}