* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Libre Baskerville', 'Noto Sans KR', 'Nunito Sans', 'sans-serif';
    font-size: 16px;
    border-collapse: collapse;
}

ul {
    padding: 0;
}



.mypage_outer_3 {
    /* width: 1100px; */
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* padding-left: 100px; */
    max-width: 1300px;
    min-width: 1100px;
    padding: 0 100px;
}

.mypage_top_3 {
    font-size: 0.8rem;
}

.mypage_top_3>h1 {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}



.mypage_top_3>h1>a {
    font-size: 3rem;
    color: black;
}

/* ======================== */

/* =======  INFO =============== */

.mypage_info_outer_3 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    word-break: keep-all;
    text-transform: uppercase;
    height: 200px;
}

.mypage_shop_info_3 {
    height: 150px;
    border-right: 1px dashed rgba(128, 128, 128, 0.28);
    padding: 2rem;
    padding-top: 3rem;
    width: 30%;
}



.mypage_shop_info_3>h2 {
    padding-bottom: 1rem;
    word-break: keep-all;
}

.mypage_shop_3>span>a {
    color: gray;
    margin-right: 5px;
}

/* ------------------ */

.mypage_QnA_info_3 {
    border-right: 1px dashed rgba(128, 128, 128, 0.353);
    padding: 2rem;
    padding-top: 3rem;
    width: 30%;
}

.mypage_QnA_info_3>h2 {
    margin-bottom: 1rem;
    text-wrap: nowrap;
    
}

.mypage_QnA_3 {
    font-size: 0.8rem;
    
}

.mypage_QnA_3>span>a {
    color: gray;
    margin-right: 5px;
}

/* ------------------ */

.mypage_customer_info_3 {
    padding: 2rem;
    padding-top: 3rem;
    width: 30%;
}

.mypage_customer_3 {
    font-size: 0.8rem;
}

.mypage_customer_info_3>h2 {
    margin-bottom: 1rem;
}

.mypage_customer_3>span>a {
    color: gray;
    margin-right: 5px;
}

/* =========INFO========== */






/* =========PROFILE ========= */
.mypage_profile_outer {
    border: 1px solid rgba(128, 128, 128, 0.372);
    width: 100%;
}

.profile_privacy>a {
    color: black;
    border: 1px solid;
    font-size: 0.8em;
    padding: 2px;
    margin-left: 5px;
}

.profile_privacy>a:hover {
    background-color: black;
    color: aliceblue;
}

.profile_privacy>div:nth-child(1) {
    display: inline-block;
}

.mypage_profile_inner {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.mypage_profile_inner>div {
    padding: 20px;
}

.profile_image {
    width: 120px;
    height: 120px;
}

.profile_inner_private {
    margin-top: 15px;
}

.profile_inner_ordered {
    display: grid;
    grid-template: repeat(3, 1fr)/ 1.2fr 2fr;
    margin-top: 10px;
}

.profile_privacy_detail {
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr 2fr;
    gap: 10px;
}

.profile_inner_private {
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr 2fr;
    gap: 10px;
}

/* ========= MYPAGE BOTTOM ======= */

.mypage_bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mypage_bottom h2 {
    font-size: 1.2rem;
    margin-bottom: 7px;
}

.mypage_bottom>div>a {
    float: right;
    top: -50px;
    color: rgba(128, 128, 128, 0.54);
    position: absolute;

}

.bottomTb {
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 1px solid rgba(128, 128, 128, 0.272);
}

.bottomTb>tbody>tr {
    border-top: 1px solid rgba(128, 128, 128, 0.251);
}

.lastest_order>tbody tr>th:nth-child(1) {
    width: 20%;
}

.lastest_order>tbody tr>th:nth-child(2) {
    width: 40%;
}

.lastest_order>tbody tr>th:nth-child(3) {
    width: 20%;
}

.lastest_order>tbody tr>th:nth-child(4) {
    width: 20%;
}

.order_detail {
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.335);
    padding: 3px;
}

.order_detail:hover {
    color: white;
    background-color: black;
}

/* .display_none */


/* 테이블 너비 지정하자 */

/* .lastest_post */





#bottom_wish_list {
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    margin-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 1px solid rgba(128, 128, 128, 0.254);
    flex-wrap: wrap;
}

.bottomTb tr {
    height: 40px;
}



.wishImg {
    width: 200px;
    height: 200px;
    margin: auto;
}


.wishContainer {
    width: 220px;
    height: 220px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

}