*{
    list-style: none;

}

.outer {
    width: 1550px;
    margin: auto;
    padding-top: 100px;
    height: 60%;
}

.outer>.product_topmenu>a {
    color: rgb(161, 159, 159);
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.outer>.product_topmenu {
    border: 1px solid rgb(200, 200, 200);
    width: 1490px;
    margin: auto;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 1%;
    height: 75px;
}



.product_boximg>.img1>img {
    width: 250px;
    height: 250px;
    border: 2px solid;
    margin: 3px;

}

.product_boximg>.img2_3>img {
    width: 250px;
    height: 250px;
    border: 1px solid;
    margin: 3px;
}

.product_boximg>.bigimg>img {
    width: 900px;
    height: 900px;

}

.product_outer {
    display: flex;
    padding: 30px;
}

.product_rightbox>.product_fount {
    display: inline;
}



.product_rightbox {
    line-height: 40px;
    width: 550px;
}

h4 {
    border-top: solid 1px black;
}

.table_3 {
    font-size: 15px;
}

.table_3 p {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    line-height: 60px;

}

.table_3 th {
    width: 80px;
    text-align: left;
}

#optionlist {
    height: 25px;
}


.table_3>table {
    line-height: 50px;
}


.table_3>h4 {
    line-height: 100px;
}

.table_3 td {
    width: 300px;
    line-height: normal;
}

.product_rightbox>a {
    border: 1px solid black;
    color: white;
}

.product_fount h3 {
    color: rgb(59, 59, 59);
    font-weight: -100px;
}

.BUY {
    margin-bottom: 5px;
}

.BUY a {
    text-align: center;
    border: 1px solid;
    background-color: black;
    color: white;
    width: 450px;
    display: block;
    line-height: 70px;
    height: 70px;
}

.CART_3 a {
    text-align: center;
    border: 1px solid silver;
    background-color: white;
    color: black;
    width: 450px;
    display: block;
    line-height: 65px;
    height: 65px;
}

.naver {
    line-height: 19px;
    font-size: 10PX;
    display: flex;
    border-top: solid 3px black;
    margin-top: 15px;
    height: 80px;
    align-items: center;
    width: 330px;
    border-bottom: solid 1px rgb(189, 186, 186);
    line-height: normal;
}

.naverbox3 {
    display: inline;
    display: flex;
    line-height: 50px;
}

.product_rightbox {
    padding-left: 100px;
}

.background {
    background-image: url(https://img.pay.naver.net/static/images/button/2023_10_diff/npay_sp_payment.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 1px;
    background-size: 80px;
    width: 150px;
    height: 50px;
    background-color: rgb(72, 218, 133);
    position: relative;
    top: -1px;
    left: 10px;
    border: 1px solid silver;
    border-radius: 3px;
}

.naver p:nth-child(1) {
    color: rgb(15, 245, 73);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
}

.background2 {
    width: 50px;
    height: 50px;
    position: relative;
    top: -1px;
    left: 10px;
    border: 1px solid silver;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    left: 20px;
    display: block;
    line-height: 45px;
    border-radius: 3px;
}

.background2 a {
    color: black;
}

.jp {
    border-top: solid 1px black;
    line-height: 60px;
}

.jp li {
    list-style: none;
    display: block;
}

.jp2 {
    border-top: solid 1px black;
    line-height: 60px;
}

.jp3 {
    border-top: solid 1px black;
    line-height: 60px;
}

.jp4 {
    border-top: solid 1px black;
    line-height: 60px;
}

.semllouter {
    width: 1500px;
    margin: auto;
    height: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: black;
    padding: 50px;
    justify-content: center;
    border-top: solid 1px silver;
    margin-top: 4%;
    margin-bottom: 13px;
}

.review1_3 {
    border-right: solid 1px silver;
    width: 300px;
    text-align: center;
}

.review2_3 {
    border-right: solid 1px silver;
    width: 300px;
    text-align: center;
}



.semllouter a {
    color: black;
}

.review3_3 {
    width: 300px;
    text-align: center;
}

.smoll {
    align-items: center;
    margin: auto;
    line-height: 50px;
    width: 1500px;
}

.smoll textarea {
    border-color: silver;
}

.smoll h3 {
    margin-bottom: -40px;
}

.smoll a {
    float: right;
    color: black;
}


.select_3 {
    margin: auto;
    text-align: center;
    display: flex;
    padding: 20px;
    margin-top: -15px;
    font-weight: bold;
    width: 1600px;

}

.select_3 a {
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    display: block;
    line-height: 45px;

}

.so1_3 {
    margin: auto;
    width: 1600px;
}

.i {
    float: right;
    margin-right: 20px;
    font-size: 17px;
    color: #818391;
}

.select_3 ul {
    list-style: none;
}

.select_3 li {
    border: 1px solid silver;
    width: 220px;
    float: left;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

.select_3 li:nth-child(1) {
    width: 570px;
    margin-left: -5px;
}

.select_3 li:nth-child(5) {
    margin-left: 21px;
}

.select_3 li:nth-child(5) a {
    color: white;
    background-color: black;
}


.smoll>textarea {
    color: silver;
    width: 1500px;
}

.reviewtotal_3 {
    margin: auto;
    width: 1500px;
    font-size: 50px;
    display: flex;
    padding: 20px;
    margin-top: -5px;
    border: 1px silver solid;
    height: 300px;
}

.so2_3 {
    font-size: 13px;
    display: flex;
    line-height: 50px;
}


.so2_3 ul>li>div>.a_3 {
    width: 700px;
    display: block;
    float: right;
    padding: 10px;
    margin-right: -10%;
    margin-top: -34px;
    background-color: rgb(233, 231, 231);
    height: 20px;
    position: relative;
    border: none;
}

.so2_3 ul>li>div>.a_3>span {
    width: 600px;
    position: absolute;
    padding: 10px;
    margin-top: -10px;
    background-color: black;
    height: 20px;
    margin-right: 0;
    left: 0;
}

.so2_3 ul>li>div>.a_4 {
    width: 700px;
    display: block;
    float: right;
    padding: 10px;
    margin-right: -10%;
    margin-top: -34px;
    background-color: rgb(233, 231, 231);
    height: 20px;
    position: relative;
}

.so2_3 ul>li>div>.a_4>span {
    width: 70px;
    position: absolute;
    padding: 10px;
    margin-top: -10px;
    background-color: black;
    height: 20px;
    margin-right: 0;
    left: 0;
}


.so2_3 ul>li>div>.a_5 {
    width: 700px;
    display: block;
    float: right;
    padding: 10px;
    margin-right: -10%;
    margin-top: -34px;
    background-color: rgb(233, 231, 231);
    height: 20px;
    position: relative;
}

.so2_3 ul>li>div>.a_5>span {
    width: 27px;
    position: absolute;
    padding: 10px;
    margin-top: -10px;
    background-color: black;
    height: 20px;
    margin-right: 0;
    left: 0;
}

.so2_3 ul>li>div>.a_6 {
    width: 700px;
    display: block;
    float: right;
    padding: 10px;
    margin-right: -10%;
    margin-top: -34px;
    background-color: rgb(233, 231, 231);
    height: 20px;
    position: relative;
}

.so2_3 ul>li>div>.a_7 {
    width: 700px;
    display: block;
    float: right;
    padding: 10px;
    margin-right: -10%;
    margin-top: -34px;
    background-color: rgb(233, 231, 231);
    height: 20px;
    position: relative;
}


.so2_3 ul {
    list-style: none;
    color: #818391;

}

.so_3 {
    background-color: rgb(139, 135, 135);
    text-align: center;
    color: white;
    height: 250px;
    width: 250px;
    padding: 30px;
}

.ster a {
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
    font-size: 25px;
}

.founti {
    color: #818391;
    position: absolute;
    margin-top: 10px;
    padding-left: 350px;
    font-size: 17px;
    font-weight: bold;
}

.reviewtotal_3>.so_3>p {
    font-size: 20px;
}

.reviewlist_3 {
    margin: auto;
    width: 1500px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    position: relative;
    height: 50px;
}


.reviewlist_3 li {
    list-style: none;
    border: solid 1px silver;
    width: 80px;
    text-align: center;
    font-size: 13px;
    height: 35px;
    float: left;
}

.a_3 {
    border: solid 1px silver;
    width: 150px;
    text-align: center;
    font-size: 13px;
    height: 35px;
}


.reviewlistbox_3 {
    float: inline-end;
    width: 450px;
    display: flex;
    line-height: 32px;
    margin-right: -20px;
}


.reviewlist_3 li {
    float: left;
    display: block;
}

.reviewlistbox_3 a {
    color: black;
}

.csreview_3 ul {
    list-style: none;
}

.ulbox1_3 {
    border-top: 1px solid silver;
    width: 1500px;
    margin: auto;
    font-size: 18px;
    color: black;
    height: 210px;
    line-height: 60px;
    border-bottom: 1px solid silver;
}

.ulbox1_3 ul:nth-child(1) li {
    float: left;
    margin-left: -18px;
    color: rgb(139, 135, 135);
    font-size: 19px;
}

.ulbox1_3 ul li:nth-child(2) {
    margin-left: 15px;
    color: rgb(88, 86, 86);
}

.ulbox1_3 ul li:nth-child(3) {
    margin-left: 50px;
    margin-top: 12px;
    height: 10px;
}

.ulbox1_3 img {
    width: 30px;
}

.img123_3 img {
    width: 35px;
    margin-bottom: -10px;
}



.ulbox1_3 ul li:nth-child(4) {
    margin-left: 800px;
    color: black;
}


.csreview_3 p {
    color: rgb(147, 144, 144);
    margin-left: 20px;
    margin-bottom: -50px;
}


.ulbox1_3 a {
    margin-right: 20px;
}

.ulbox1_3 b {
    color: palevioletred;
    font-size: 12px;
}

.ulbox1_3 a {
    color: rgb(147, 144, 144);
}

.ulbox2_3 a {
    border: solid 1px silver;
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    color: black;
    margin-bottom: 2%;
}

.ulbox2_3 {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.video_3 {
    text-align: center;
    margin: auto;
    width: 1600px;
    margin-top: 3%;
}

.video_3 video {
    height: 700px;
    border: none;
    outline: none;
}

.service_container {
    position: relative;
}

.service_container p {
    padding: 10px;
    font-size: 1.2em;
}

.service_list {
    margin-bottom: 20px;

}

.service_header {
    cursor: pointer;
}

.hidden .service_body {
    display: none;
}