* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Libre Baskerville;
    list-style: none;
}
ul {
    padding: 0;
}

a {
    text-decoration: none;
}
main {
    height: 3600px;
}
.bigproduct {
    padding-top: 100px;
}

.oilmenu {
    margin: auto;
    font-size: 15px;
    text-align: center;
}

.oilmenu ul {
    list-style: none;
    display:inline-block;
    height: 50px;
    margin: 2%;
}

.oilmenu li {
    float: left;
    margin: auto;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}


.oilmenu a {
    color: black;
    position: absolute;
    color: rgb(136, 134, 134);
    transform: translateX(-50%) translateY(50%);
}

.oilmenu p:nth-child(1) {
    font-size: 25px;
}

.oilmenu p:nth-child(3) {
    width: 770px;
    height: 200px;
    margin: auto;
}


.oilmenuimg_3 > img {
    width: 100%;
    object-fit: cover;
    margin-top: -100px;
    vertical-align: middle;
   
}

.oilpage ul {
    list-style: none;
    float: right;
    text-align: center;
}

.oilpage li{
   border-left:solid 1px silver;
   float: left;
   width: 95px;
}

.oilpage li:nth-child(1){
    border-left:none;
}

.oilpage a {
    color: silver;
}

.oilpage {
    max-width: 1400px;
    margin: 100px auto 0; 
}


.oilpage_3 ul{
    list-style: none;
    text-align: center;
    float: left;
    margin-bottom: 70px;
}

.oilpage_3 img {
    width: 370px;
    margin-bottom: 20px;
}

.oilpage_3 {
    min-width: 100px;
    max-width: 1400px;
}


.oilpage_3 a{
   color: black;
}

.oilpage_3 li{
    line-height: 27px;
}

.oilpage_3 {
    padding-left: 100px;
    margin: 50px auto;
}

.oilpage_3 li:nth-child(3) a{
    color: silver;
}

.ulbox2_3 a {
   
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    color: black;
   
}

.ulbox2_3 {
    text-align: center;
    padding: 20px;
    position: relative;
    left: 36%; 
}

.ulbox2_3 img {
    width: 12px;
    margin-bottom: 0;
}

.pagelist_3 img {
    margin-left: 25px;
}






